$base-font: Roboto, "Helvetica Neue", sans-serif;

$base-font-size: 2.6rem;
$desktop-font-size: 1.4rem;
$mobile-font-size: 12px;

// Subcolors
$white: #fff;
$text-color: #222;
$active-btn-color: #3149b5;

$transition: .2s ease-in-out;
$light-shadow: 0 3px 1px -2px rgba(70,70,70, .2), 0 2px 12px 1px rgba(120,120,120, .2), 0 1px 5px 0 rgba(70,70,70, .12);
$light-shadow-2: 0 3px 35px -8px rgba(2, 3, 3, .07);

$small: 480px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;
$large: 1366px;
